  <launch>
    <arg name="odom_topic" value="XXXXXXX" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/swarm_viewer.rviz" required="true" />

    <node pkg="rosmsg_tcp_bridge" name="drone_0_bridge_node" type="bridge_node" output="screen" >
        <remap from="position_cmd" to="/drone_0_planning/pos_cmd"/>
        <remap from="planning/bspline" to="/drone_0_planning/bspline"/>
        <remap from="~my_odom" to="$(arg odom_topic)"/>

        <param name="next_drone_ip" value="10.42.0.242" type="string"/>
        <param name="broadcast_ip" value="10.42.0.255" type="string"/>
        <param name="drone_id" value="0"/>
        <param name="odom_max_freq" value="70"/>

    </node>
  </launch>